body{
    background-color: lightpink;
    align-items: center;
}
h1{
    margin-left: 2px;
    padding: 1rem;
    text-align: center;
}

.campo_notas{
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid black;
    margin-left: 5rem;
}
.corpo{
    border: 2px solid black;
    width: 30rem;
    background-color: beige;
    margin-left: 20rem;

}

.campo_digite{
    width: 20rem;
    margin-left: 4rem;
    padding: 1rem;
}
.mostra_media{
    padding: 2rem;
}
.btn_media{
    margin-left: 1rem;
}